{% extends 'TGUdecBundle::layout.html.twig' %}

{% block contenido -%}
    <header><h3>Nuevo Autor</h3></header>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('autores') }}">
            Volver
        </a>
    </li>
</ul>
{% endblock %}
