{% extends 'TGUdecBundle::layout.html.twig' %}

{% block contenido -%}
    <header><h3>Editando Asesor</h3></header>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('asesores') }}">
            Volver
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
